input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100px;
  background-color: #fed728;
  color: #4d4c4e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b2e1ed;
}

#message {
  height: 200px;
}

#kontakt {
  margin: 10px;
}
