#cv {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  gap: 2em;
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  margin-bottom: 2em;
  margin-top: 2em;
  border-left: 4px solid #b2e1ed;
  position: relative;
}

.timeline:before {
  position: absolute;
  top: -1.3em;
  left: -1.5em;
  color: #b2e1ed;
  content: "Heute";
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  /* background-color: #b2e1ed; */
  position: absolute;
  bottom: -1.3em;
  left: -1.4em;
  content: "2012";
  color: #b2e1ed;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/* Container around content */
.cv-container {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1.2em;
}

/* The circles on the timeline */
.cv-container::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -1.9em;
  background-color: #b2e1ed;
  border: 4px solid white;
  top: 20%;
  border-radius: 50%;
  z-index: 1;
}

/* The actual content */
.cv-container-content {
  padding: 20px 15px;
  background-color: #b2e1ed;
  position: relative;
  border-radius: 10px;
  max-width: fit-content;
}

.cv-text {
  max-width: 35ch;
}

/* Media queries - Responsive timeline on screens larger than 768px wide */
@media (min-width: 768px) {
  #cv {
    justify-content: flex-start;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline {
    width: 36em;
    flex: 1 1 auto;
    gap: 0;
    justify-content: space-around;
    background: linear-gradient(#b2e1ed, #b2e1ed) no-repeat center / 4px 100%;
    border: none;
    margin-bottom: 2em;
  }

  .timeline::before {
    left: calc(50% - 2.5ch);
  }

  .timeline::after {
    left: calc(50% - 2ch);
  }

  /* Container around content */
  .cv-container {
    width: 16em;
    left: 0;
    flex: 0 1 auto;
  }

  /* Place the container to the left */
  .left {
    align-self: flex-start;
  }

  /* Place the container to the right */
  .right {
    align-self: flex-end;
  }

  .cv-container::after {
    border: 4px solid white;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: unset;
    right: calc(100% + 2em - 9px);
  }

  /* Fix the circle for containers on the left side */
  .left::after {
    left: calc(100% + 2em - 9px);
    background: #b2e1ed;
  }

  /* The actual content */
  .cv-container-content {
    padding: 20px 15px;
    background-color: #b2e1ed;
    position: relative;
    border-radius: 10px;
    max-width: 230px;
  }
}
