/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin-bottom: 2em;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #b2e1ed;
  top: 0;
  bottom: 0;
  left: 10%;
  margin-left: -3px;
}

/* Container around content */
.cv-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.cv-container::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: -1px;
  background-color: #b2e1ed;
  border: 3.5px solid white;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 10%;
}

/* The actual content */
.cv-container-content {
  padding: 20px 15px;
  background-color: #b2e1ed;
  position: relative;
  border-radius: 10px;
  max-width: fit-content;
}

.cv-text {
  max-width: 25ch;
}

/* Place the timelime to the left */
.timeline::after {
  left: 31px;
}

/* Full-width containers */
.cv-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}

/* Make sure that all arrows are pointing leftwards */
.cv-container::before {
  left: 60px;
  border: medium solid #b2e1ed;
  border-width: 10px 10px 10px 0;
  border-color: transparent #b2e1ed transparent transparent;
}

/* Make sure all circles are at the same spot */
.left::after,
.right::after {
  left: 22px;
}

/* Make all right containers behave like the left ones */
.right {
  left: 0%;
}

/* Media queries - Responsive timeline on screens larger than 768px wide */
@media (min-width: 768px) {
  /* The actual timeline (the vertical ruler) */
  .timeline {
    max-width: 910px;
    position: relative;
    margin-bottom: 2em;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #b2e1ed;
    top: 0;
    bottom: 0;
    left: calc(67.5% - 2.5ch);
    z-index: 5;
  }

  /* Container around content */
  .cv-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* The circles on the timeline */
  .cv-container::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #b2e1ed;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 10;
  }

  /* Place the container to the left */
  .left {
    left: calc(30.5% - 2.5ch);
  }

  /* Place the container to the right */
  .right {
    left: calc(67.5% - 2.5ch);
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -9px;
  }

  /* Fix the circle for containers on the left side */
  .left::after {
    left: 327px;
  }

  /* The actual content */
  .cv-container-content {
    padding: 20px 15px;
    background-color: #b2e1ed;
    position: relative;
    border-radius: 10px;
    max-width: 230px;
  }
}
