.mySlides {
  display: none;
}

.slidePic {
  width: 100vw;
}

.slideshow-container {
  position: relative;
}

.slideLeft {
  position: absolute;
  bottom: 50%;
  left: 5px;
  background-color: #fed728;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.slideRight {
  position: absolute;
  bottom: 50%;
  right: 5px;
  background-color: #fed728;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.slideText {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: rgb(44, 43, 43);
  color: white;
  padding: 15px;
  opacity: 0.8;
}
