html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin-top: 51px;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

* {
  font-family: "Open Sans", sans-serif;
  color: rgb(44, 43, 43);
}

#topnav {
  overflow: hidden;
  background-color: rgb(44, 43, 43);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

#topnav a {
  color: #f2f2f2;
  z-index: 9;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Hide links inside nav-menu (except for logo/home) */
#burgerLinks {
  top: 100%;
  background: rgb(44, 43, 43);
  z-index: 9;
  overflow-y: hidden;
  max-height: 0;
}

#topnav div.icon {
  background: rgb(44, 43, 43);
  position: absolute;
  right: 0;
  top: 0;
  height: 52px;
  width: 52px;
  display: flex;
  place-items: center;
  justify-content: center;
}

#topnav a:hover {
  background-color: #b2e1ed;
  color: rgb(44, 43, 43);
}

#topnav a.active {
  background-color: #fed728;
  color: rgb(44, 43, 43);
}

.hero-image {
  background-image: url("assets/bee-cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 20em;
}

.caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: rgb(44, 43, 43);
  background: none;
  text-align: center;
  opacity: 0.4;
}

.hero-text {
  position: relative;
  left: 1%;
  color: rgb(44, 43, 43);
  font-size: 8vw;
  font-weight: bold;
  width: fit-content;
  padding-left: 20px;
  top: 40px;
}

#home {
  position: relative;
}

#home img {
  width: 100vw;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (min-width: 768px) {
  body {
    margin-top: 0;
  }
  #topnav {
    background-color: rgb(44, 43, 43);
    overflow: hidden;
    z-index: 99;
    display: flex;
    place-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }

  #topnav a {
    float: left;
    display: inline;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    color: white;
  }

  #topnav div.icon {
    display: none;
  }

  #topnav #burgerLinks {
    display: inline-block;
    max-height: none;
  }

  #topnav a:hover {
    background-color: #b2e1ed;
    color: rgb(44, 43, 43);
  }

  #topnav a.active {
    background-color: #fed728;
    color: rgb(44, 43, 43);
  }
}
