body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

* {
  font-family: "Open Sans", sans-serif;
  /*box-sizing*/
  box-sizing: border-box;
}

@media (min-width: 768px) {
  #topnav {
    background-color: rgb(44, 43, 43);
    overflow: hidden;
    z-index: 999;
  }

  #topnav a {
    float: left;
    display: inline;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    color: white;
  }

  #topnav a:hover {
    background-color: #b2e1ed;
    color: black;
  }

  #topnav a.active {
    background-color: #fed728;
    color: black;
  }

  /* The sticky class is added to the navbar
with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

#topnav {
  overflow: hidden;
  background-color: rgb(44, 43, 43);
  position: relative;
}

#topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Hide links inside nav-menu (except for logo/home) */
#topnav #burgerLinks {
  display: none;
}

#topnav div.icon {
  background: rgb(44, 43, 43);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
}

#topnav a:hover {
  background-color: #b2e1ed;
  color: black;
}

#topnav a.active {
  background-color: #fed728;
  color: black;
}

.hero-image {
  background-image: url("assets/bee-cover.png");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 20em;
}

.caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: black;
  background: none;
  text-align: center;
  opacity: 0.4;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 20%;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

#home {
  position: relative;
}

img {
  width: 100vw;
}
