.hp-section:hover + ul {
  transition: all 0.3s;
}

.hp-section:hover h3 {
  letter-spacing: 1px;
  transition: all 0.3s;
}

ul#hpbooks {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

ul#hpbooks li img {
  max-height: 200px;
}

ul#hpbooks li {
  margin-bottom: 20px;
}

ul#hpbooks li:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

ul#hpbooks li span {
  display: block;
  max-width: 15ch;
}

@media (min-width: 768px) {
  ul#hpbooks {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-right: calc(50vw - 500px);
    margin-left: calc(50vw - 500px);
  }

  ul#hpbooks li span {
    display: block;
    max-width: 15ch;
  }

  .hpTitle {
    text-align: center;
    margin-left: 0px;
  }
}
