.contact-section {
  margin-top: 100px;
  max-height: 400px;
}

.container.reveal.active {
  bottom: 70px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 8px 0;
}

input[type="submit"] {
  width: 100px;
  background-color: #fed728;
  color: #4d4c4e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
}

input[type="submit"]:hover {
  background-color: #b2e1ed;
}

::placeholder {
  position: absolute;
  top: 12px;
  font-size: medium;
}

#message {
  height: 200px;
  resize: none;
}

#kontakt {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

/* input#botcheck {
  height: 15px;
  width: 15px;
  position: relative;
  left: 0; 
} */

@media (min-width: 768px) {
  ::placeholder {
    position: absolute;
    top: 12px;
  }

  #fname {
    grid-area: fname;
  }

  #lname {
    grid-area: lname;
  }

  #email {
    grid-area: email;
  }

  #topic {
    grid-area: topic;
  }

  #message {
    grid-area: message;
  }

  #submit {
    grid-area: submit;
  }

  #result {
    grid-area: check;
  }

  .contact-form {
    display: grid;
    gap: 0.8em;
    grid-template-areas:
      ". fname lname email email ."
      ". topic topic topic topic ."
      ". message message message message ."
      ". submit check . . .";
    grid-template-columns: 1fr 200px 200px 200px 200px 1fr;
  }

  input[type="text"],
  select {
    margin: 0;
  }

  input[type="submit"] {
    margin: 0;
  }

  #kontakt {
    margin-bottom: 30px;
  }

  textarea {
    margin: 0;
  }

  .container.reveal.active {
    bottom: 10px;
  }
}
