input[type="text"],
select {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100px;
  background-color: #fed728;
  color: #4d4c4e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b2e1ed;
}

::placeholder {
  position: absolute;
  top: 12px;
}

#message {
  height: 200px;
}

#kontakt {
  margin: 10px;
}

@media (min-width: 768px) {
  #fname {
    grid-area: fname;
  }

  #lname {
    grid-area: lname;
  }

  #email {
    grid-area: email;
  }

  #topic {
    grid-area: topic;
  }

  #message {
    grid-area: message;
  }

  #submit {
    grid-area: submit;
  }

  .contact-form {
    display: grid;
    gap: 0.8em;
    grid-template-areas:
      "fname lname email email"
      "topic topic topic topic"
      "message message message message"
      "submit . . .";
    margin: 0em 20% 0em 20%;
  }

  input[type="text"],
  select {
    margin: 0;
  }

  input[type="submit"] {
    margin: 0;
  }
}
