.mySlides {
  display: none;
}

.slidePic {
  width: 100vw;
}

.slideLeft {
  position: absolute;
  bottom: 35%;
  left: 5px;
  background-color: #fed728;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.slideLeft:hover {
  background-color: #b2e1ed;
  cursor: pointer;
}

.slideRight {
  position: absolute;
  bottom: 35%;
  right: 5px;
  background-color: #fed728;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
}

.slideRight:hover {
  background-color: #b2e1ed;
  cursor: pointer;
}

.slideText {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: rgb(44, 43, 43);
  color: white;
  padding: 15px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .slideshow-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    position: relative;
  }

  .slidePic {
    width: 910px;
  }

  .slideLeft {
    position: absolute;
    left: calc(50vw - 450px);
    top: 250px;
    background-color: #fed728;
    color: black;
    border: none;
    border-radius: 10px;
    height: 40px;
  }

  .slideRight {
    position: absolute;
    right: calc(50vw - 450px);
    top: 250px;
    background-color: #fed728;
    color: black;
    border: none;
    border-radius: 10px;
    height: 40px;
  }

  .slideText {
    position: relative;
    bottom: 65px;
    left: 10px;
    background-color: rgb(44, 43, 43);
    color: white;
    padding: 15px;
    opacity: 0.8;
    width: fit-content;
  }
}
